<div class="wrapper">
    <app-topo></app-topo>
    <div class="content">
        <div *ngIf="jogoEmAndamento; else fimDeJogo">
            <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
        </div>

        <ng-template #fimDeJogo>
            <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container">
                <div class="jumbotron lose text-center">
                    <h1>Fim de Jogo, Infelismente você perdeu.
                        <div class="fa fa-frown-o"></div>
                    </h1>
                    <button class="btn btn-danger" (click)="reiniciarJogo()">Jogar Novamente</button>
                </div>
            </div>
        </ng-template>

        <ng-template #fimDeJogoVitoria>
            <div class="container">
                <div class="jumbotron win text-center">
                    <h1>Fim de Jogo, você ganhou.
                        <div class="fa fa-smile-o"></div>
                    </h1>
                    <button class="btn btn-success" (click)="reiniciarJogo()">Jogar Novamente</button>
                </div>
            </div>
        </ng-template>
    </div>
    <app-footer></app-footer>
</div>